<div name="Form" id="ContactForm" class="Modal" tabindex="-1" aria-hidden="true">
    <div class="Modal-dialog Modal-dialog-centered">
        <div class="Modal-content border-0">
            <a role="button" class="Modal-exit"><i class="bi bi-x"></i></a>
            <div class="modal-header border-0">
                <p class="Montserrat-SemiBold">Texto de prueba</p>
            </div>
            <div class="modal-body border-0">
            </div>
            <div class="modal-footer border-0">
            </div>
        </div>
    </div>
</div>
