@import "../home/home.component.scss";
@import "../../assets/Sass/Forms";

.header
{
    p
    {
        font-size: 2.5rem;
        margin-top: 1rem;
        //margin-bottom: 0.625rem;
    };
}

.body
{
    form div
    {
        flex-direction: row;
        @media only screen and (max-width: 450px) 
        { 
            flex-direction: column !important; 
            margin-left: 0px !important; margin-right: 0px !important;
        }
    }
    @media only screen and (max-width: 450px) { flex-direction: column !important; padding-left: 0px !important; padding-right: 0px !important; }
}

.footer
{
    a
    {
        width: 100% !important;
        margin-bottom: 2.25rem;
    }

    i { margin-left: 0.625rem; }
}