<div name="Form" id="TalentForm" class="Modal" tabindex="-1" aria-hidden="true">
    <div class="Modal-dialog Modal-dialog-centered">
        
        <div class="Modal-content border-0">
            <a role="button" name="FormCloseButton" class="Modal-exit"><i class="bi bi-x-lg"></i></a>
            <div class="modal-header border-0 header justify-content-center text-center">
                <p class="Montserrat-Bold">Solicitud de empleo</p>
            </div>
            <div class="modal-body border-0 body Montserrat-Regular">
                <form id="talentForm" #talentForm="ngForm" (ngSubmit)="SendForm(talentForm)">
                    <div class="container d-inline-flex flex-row justify-content-center align-items-center">
                        <div class="container input-c m-3 d-inline-flex justify-content-left align-items-start">
                            <input class="w-inherit" type="text" name="talent-FullName" [(ngModel)]="TalentFormData.FullName" placeholder="Ingrese su nombre completo" required>
                            <small class="Montserrat-Bold"><i class="bi bi-person-badge-fill h5"></i>Nombre completo *</small>
                        </div>
                    </div>

                    <div class="container d-inline-flex flex-row justify-content-center align-items-center">
                        <div class="container input-c m-3 d-inline-flex justify-content-left align-items-start">
                            <input class="w-inherit" type="number" name="talent-Age" [(ngModel)]="TalentFormData.Age" min="16" max="70" placeholder="Ingrese su edad" required>
                            <small class="Montserrat-Bold"><i class="bi bi-calendar2-fill h5"></i>Edad *</small>
                        </div>
                        <div class="container input-c m-3 d-inline-flex justify-content-left align-items-start">
                            <input class="w-inherit" type="text" name="talent-Address" [(ngModel)]="TalentFormData.Address" placeholder="Ingrese su dirección de residencia" required>
                            <small class="Montserrat-Bold"><i class="bi bi-signpost-fill h5"></i>Dirección *</small>
                        </div>
                    </div>

                    <div class="container d-inline-flex flex-row justify-content-center align-items-center">
                        <div class="container input-c m-3 d-inline-flex justify-content-left align-items-start">
                            <input class="w-inherit" type="tel" pattern="[0-9]{4}-[0-9]{4}" name="talent-Telephone" [(ngModel)]="TalentFormData.Telephone" placeholder="Teléfono: 1234-5678" required>
                            <small class="Montserrat-Bold"><i class="bi bi-telephone-fill h5"></i>Teléfono *</small>
                        </div>
                        <div class="container input-c m-3 d-inline-flex justify-content-left align-items-start">
                            <select class="w-inherit" name="talent-AcademicDegree" [(ngModel)]="TalentFormData.AcademicDegree">
                                <option value="Bachillerato">Bachillerato</option>
                                <option value="Carrera completa">Carrera completa</option>
                            </select>
                            <small class="Montserrat-Bold"><i class="bi bi-award-fill h5"></i>Grado académico *</small>
                        </div>
                    </div>

                    <div class="container d-inline-flex flex-row justify-content-center align-items-center">
                        <div class="container input-c m-3 d-inline-flex justify-content-left align-items-start">
                            <div id="FileInputContainer" class="container d-grid FileInputContainer" DragNDrop (file)="this.FileUploader.fileDropped($event)">
                                <input id="inputFile" class="Montserrat-Regular FileInput" type="file" name="talent-Curriculum" accept="application/pdf" (change)="this.FileUploader.fileBrowseHandler($event)" (click)="this.FileUploader.FileInputClicked()">
                                <div class="container d-inline-flex flex-column align-items-center justify-content-center fileUploadLabelContainer">
                                    <label for="{{this.FileUploader.forLabelFile}}" role="button" class="Montserrat-SemiBold d-inline-flex flex-column align-items-center justify-content-center align-self-center">
                                        <p class="my-3"><i class="bi bi-file-arrow-down-fill h1"></i></p>
                                        <p id="FileUploadTitle" class="m-0 Montserrat-Bold">{{this.FileUploader.fileTitle}}</p>
                                        <p id="FileUploadSubTitle" class="m-0 Montserrat-Regular">
                                            {{this.FileUploader.fileSubTitle}}
                                        </p>
                                        <div class="loadingContainer flex-row align-items-center justify-content-center">
                                            <div *ngFor="let item of [1, 2, 3, 4]" class="mx-2 point{{item}} ">.</div>
                                        </div>
                                        <!--LoadingAnimation></LoadingAnimation-->
                                    </label>
                                    <div class="container dynamicButtonsContainer">
                                        <ng-container #ActionButton></ng-container>
                                    </div>
                                </div>
                            </div>
                            <small class="Montserrat-Bold"><i class="bi bi-file-earmark-bar-graph-fill h5"></i>Currículum [máximo 8MB] (opcional)</small>
                        </div>
                    </div>
                    <div class="modal-footer border-0 footer">
                        <div class="container d-inline-flex flex-row justify-content-center align-items-center">
                            <button type="submit" class="DarkButton Montserrat-SemiBold">Enviar <i class="bi bi-forward-fill"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

