@import "../home/home.component.scss";
@import "../../assets/Sass/Forms";

.header
{
    p
    {
        font-size: 2.5rem;
        margin-top: 1rem;
        //margin-bottom: 0.625rem;
    };
}

.body
{
    small { font-size: 0.875rem; }

    form > div
    {
        flex-direction: row;
        @media only screen and (max-width: 450px) 
        {
            flex-direction: column !important;
            margin-left: 0px !important; margin-right: 0px !important;
        }
    }
    @media only screen and (max-width: 450px) { flex-direction: column !important; padding-left: 0px !important; padding-right: 0px !important; }
}

.footer
{
    button
    {
        width: 100% !important;
        margin-bottom: 2.25rem;
    }

    i { margin-left: 0.625rem; }
}

.errorText
{
    transition: all ease-in-out 150ms;
    color: $ErrorColor;
}

.dynamicButtonsContainer
{
    margin: 2rem auto;
    width: max-content;
    height: auto;
}

.loadingContainer { display: none; flex-direction: row !important; }

.fileLoading
{
    $anim: loading ease-in-out 1s infinite;
    .loadingContainer
    {
        font-size: 1.25rem;
        display: inline-flex !important;

        div
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        @for $i from 1 through 4
        {
            $k: $i - 1;
            .point#{$i} 
            { 
                animation: $anim;
                -webkit-animation: $anim;
                -moz-animation: $anim;
                -o-animation: $anim;
                animation-delay: ($k)*100ms; 
            }
        }

        @keyframes loading
        {
            0% { transform: scale(1); }
            45% { transform: scale(2.5); }
            100% { transform: scale(1); }
        }
    }
}