<nav class="sidebar p-none">
    <div class="header d-inline-flex flex-row justify-content-center align-items-center">
        <button id="MenuButton" class="ButtonMenu"><i class="bi bi-list"></i></button>
        <img src="../../../assets/Img/XelaByte logo sin letras.png">
    </div>
    <div class="body">
        <ul class="ListStyle-none">
            <li class="sidebar-element">
                <a routerLink="home"><i class="bi bi-house-fill"></i><p class="Montserrat-SemiBold my-0">Inicio</p></a>
                <span class="sb-tooltip Montserrat-SemiBold">Inicio</span>
            </li>
            <li class="sidebar-element">
                <a href="#"><i class="bi bi-shield-lock-fill"></i><p class="Montserrat-SemiBold my-0">Administadores</p></a>
                <span class="sb-tooltip Montserrat-SemiBold">Administadores</span>
            </li>
            <li class="sidebar-element">
                <a href="#"><i class="bi bi-chat-left-fill"></i><p class="Montserrat-SemiBold my-0">Mensajes</p></a>
                <span class="sb-tooltip Montserrat-SemiBold">Mensajes</span>
            </li>
            <li class="sidebar-element">
                <a href="#"><i class="bi bi-tools"></i><p class="Montserrat-SemiBold my-0">Servicios</p></a>
                <span class="sb-tooltip Montserrat-SemiBold">Servicios</span>
            </li>
            <li class="sidebar-element">
                <a href="#"><i class="bi bi-person-lines-fill"></i><p class="Montserrat-SemiBold my-0">Empleos</p></a>
                <span class="sb-tooltip Montserrat-SemiBold">Empleos</span>
            </li>
            <li class="sidebar-element">
                <a href="#"><i class="bi bi-journal-bookmark-fill"></i><p class="Montserrat-SemiBold my-0">Citas</p></a>
                <span class="sb-tooltip Montserrat-SemiBold">Citas</span>
            </li>
            <li class="sidebar-element">
                <a href="#"><i class="bi bi-info-square-fill"></i> <p class="Montserrat-SemiBold my-0">Inf. empresa</p></a>
                <span class="sb-tooltip Montserrat-SemiBold">Información de la empresa</span>
            </li>
        </ul>
    </div>
    <div class="footer">
        <div class="FooterUsername">
            <a href=""><i class="bi bi-person-fill"></i><p class="Montserrat-SemiBold my-0">Username</p></a>
        </div>
        <a class="ExitButton" href="#"><i class="bi bi-box-arrow-left"></i></a>
        <span class="sb-tooltip Montserrat-SemiBold">Salir</span>
    </div>
</nav>
