<div class="container-fluid d-flex">
    <div class="container text-center mt-5 d-inline-flex flex-column CardStyle">
        <div class="align-middle d-flex flex-column align-items-center">
            <p class="my-0 px-3 Montserrat-Bold display-4">¡Dale vida a tu compu!</p>
            <p class="mt-3 px-3 Montserrat-Regular h5 ParagraphColor">Te ofrecemos servicios de mantenimiento, reparación y actualización de computadoras. Te brindamos un trabajo garantizado y profesional con precios accesibles. </p>
        </div>
        <div class="mt-5 mx-auto d-inline-flex text-center">
            <a role="button" href="#" class="CircleInf d-flex align-items-center"><i class="bi bi-tools mr-0"></i></a>
            <a role="button" href="#" class="CircleInf d-flex align-items-center"><i class="bi bi-person-circle mr-0"></i></a>
        </div>
        <div class="mt-5 mx-auto d-inline-flex text-center">
            <ul class="HomeList Montserrat-SemiBold">
                <li class="d-inline-flex flex-row align-items-center mx-3 my-2"><i class="bi bi-check-circle-fill mx-2"></i><small>Mantenimiento preventivo</small></li>
                <li class="d-inline-flex flex-row align-items-center mx-3 my-2"><i class="bi bi-check-circle-fill mx-2"></i><small>Mantenimiento correctivo</small></li>
                <li class="d-inline-flex flex-row align-items-center mx-3 my-2"><i class="bi bi-check-circle-fill mx-2"></i><small>Formateo y recuperación</small></li>
                <li class="d-inline-flex flex-row align-items-center mx-3 my-2"><i class="bi bi-check-circle-fill mx-2"></i><small>Instalación y actualización</small></li>
            </ul>
        </div>
    </div>

</div>
