<div class="container-fluid d-flex flex-column">
    <div class="container text-center my-5 d-inline-flex flex-column CardStyle">
        <div class="align-middle d-flex flex-column align-items-center">
            <p class="my-0 px-3 Montserrat-Bold display-4">¡Dale vida a tu compu!</p>
            <p class="mt-3 px-3 Montserrat-Regular h5 ParagraphColor">Te ofrecemos servicios de mantenimiento, reparación y actualización de computadoras. Te brindamos un trabajo garantizado y profesional con precios accesibles. </p>
        </div>
        <div class="mt-5 mx-auto d-inline-flex text-center Montserrat-SemiBold">
            <a data-tooltip="(Nuestros servicios)" role="button" (click)="goToServices()" class="CircleInf d-flex align-items-center"><span>Nuestros servicios</span><i class="bi bi-tools mr-0"></i></a>
            <a name="FormButton" data-tooltip="(¡Contáctanos!)" type="button" role="button" class="CircleInf d-flex align-items-center"><span>¡Contáctanos!</span><i class="bi bi-person-circle mr-0"></i></a>
            <ContactForm></ContactForm>
        </div>

        <div class="mt-5 mx-auto d-inline-flex text-center">
            <ul class="HomeList Montserrat-SemiBold flex">
                <li class="d-inline-flex flex-row align-items-center mx-3 my-2"><i class="bi bi-check-circle-fill mx-2"></i><small>Mantenimiento preventivo</small></li>
                <li class="d-inline-flex flex-row align-items-center mx-3 my-2"><i class="bi bi-check-circle-fill mx-2"></i><small>Mantenimiento correctivo</small></li>
                <li class="d-inline-flex flex-row align-items-center mx-3 my-2"><i class="bi bi-check-circle-fill mx-2"></i><small>Formateo y recuperación</small></li>
                <li class="d-inline-flex flex-row align-items-center mx-3 my-2"><i class="bi bi-check-circle-fill mx-2"></i><small>Instalación y actualización</small></li>
            </ul>
        </div>
    </div>

    <div class="container responsive-iframe text-center my-5 d-inline-flex flex-column CardStyle">
        <!--Cambio de link por época proveniente del backend-->
        <iframe class="mx-auto" src="https://www.youtube.com/embed/JIZLzhUFLvY" title="XelaByte" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>        
    </div>

    <div class="container text-center my-5 d-inline-flex flex-column CardBlackStyle">
        <p class="Montserrat-Bold text-light text-center mt-0 mb-0 h2">Nuestro equipo</p>

        <!--Componente de equipo-->
        <ul class="EquipList Montserrat-SemiBold flex">
            <li class="d-inline-flex flex-row align-itmes-center mx-5">
                <img src="../../assets/Img/2.jpg">
                <div class="container TextCard">
                    <div class="container">
                        <p class="Montserrat-Bold">Samuel Rabi Romero</p>
                        <p class="Montserrat-Regular">Depto. Administración</p>
                    </div>
                </div>
            </li>
            <li class="d-inline-flex flex-row align-itmes-center mx-5">
                <img src="../../assets/Img/2.jpg">
                <div class="container TextCard">
                    <div class="container">
                        <p class="Montserrat-Bold">Erick Alfonso Reyes</p>
                        <p class="Montserrat-Regular">Depto. Soporte Técnico</p>
                    </div>
                </div>
            </li>
        </ul>
        <!------------------------>

        <p class="Montserrat-Regular text-light text-center h5 mt-5">Somos un grupo de expertos en <b class="Montserrat-Bold text-light">Matenimiento preventivo y Correctivo</b> de equipos de computación</p>
    </div>

    <div class="container text-center my-5 d-inline-flex flex-column CardStyle w-auto" data-talent="false">
        <div class="container d-inline-flex TalentContainer">
            <div class="container d-inline-flex flex-column col my-3">
                <p class="Montserrat-Bold mt-0 h2">Estamos buscando al mejor talento</p>
                <p class="Montserrat-Regular my-0 h4">Somos un equipo multidisciplinario que está en constante crecimiento</p>
            </div>
            <div class="container d-inline-flex flex-column justify-content-center align-items-center col-3 my-3">
                <a name="FormButton" class="Montserrat-SemiBold DarkButton" role="button">
                    Aplicar ahora
                    <i class="bi bi-caret-right-fill"></i>
                </a>
                <TalentForm></TalentForm>
            </div>
        </div>
    </div>

    <div class="container text-center my-5 d-inline-flex flex-column CardBlackStyle">
        <ServiceCard></ServiceCard>
    </div>

    <div class="container text-center my-5 d-inline-flex flex-column CardStyle w-auto SpiceUpPC">
        <div class="d-inline-flex flex-column text-center align-items-center">
            <p class="Montserrat-Bold my-3 SpiceUpTitle">¡Es momento de darle vida a tu compu!</p>
            <p class="Montserrat-Regular SpiceUpSubTitle">no pierdas la oportunidad de mejorar el rendimiento de tu equipo</p>
            <a name="FormButton" class="Montserrat-SemiBold DarkButton" role="button">Agendar cita<i class="bi bi-journal-bookmark-fill"></i></a>
        </div>
    </div>

    <div class="container text-center my-5 d-inline-flex flex-column CardBlackStyle SocialNets">
        <div class="container IdeaContainer">
            <p class="Montserrat-Bold IdeaTitle">¿Tienes una idea que deseas llevar a la realidad?</p>
            <p class="Montserrat-SemiBold IdeaSubTitle">queremos escuchar tu proyecto para ayudarte a generar un impacto positivo</p>
        </div>
        <div class="container d-inline-flex flex-row align-items-center justify-content-center text-center SocialButtons Montserrat-SemiBold">
            <a data-tooltip="(Instagram)" role="button" href="#" class="CircleInf CircleInfWhite d-flex align-items-center mx-3"><span>Instagram</span><i class="bi bi-instagram"></i></a>
            <a data-tooltip="(Facebook)" role="button" href="#" class="CircleInf CircleInfWhite d-flex align-items-center mx-3"><span>Facebook</span><i class="bi bi-facebook"></i></a>
            <a data-tooltip="(WhatsApp)" role="button" href="#" class="CircleInf CircleInfWhite d-flex align-items-center mx-3"><span>WhatsApp</span><i class="bi bi-whatsapp"></i></a>
            <a data-tooltip="(Youtube)" role="button" href="#" class="CircleInf CircleInfWhite d-flex align-items-center mx-3"><span>Youtube</span><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>

<!--Footer como componente para recibimiento de datos por parte del backend-->
<footer class="container-fluid text-center d-inline-flex flex-column FooterBlackStyle">
    <div class="container d-inline-flex flex-row FooterDivs">
        <div class="d-inline-flex flex-column align-items-start col">
            <p class="Montserrat-Bold FooterTitle">Ubicación de las oficinas</p>
            <ul class="ListStyle-none d-inline-flex flex-column align-items-start FooterList">
                <li><p class="Montserrat-SemiBold">Oficina central <small class="Montserrat-Regular">Diagonal 15 7-61 zona 5. Quetgo</small></p></li>
                <li><p class="Montserrat-SemiBold">Sucursal #1 <small class="Montserrat-Regular">Diagonal 15 7-61 zona 5. Quetgo</small></p></li>
                <li><p class="Montserrat-SemiBold">Sucursal #2 <small class="Montserrat-Regular">Diagonal 15 7-61 zona 5. Quetgo</small></p></li>
            </ul>            
        </div>
        <div class="d-inline-flex flex-column align-items-start col">
            <p class="Montserrat-Bold FooterTitle">Teléfonos de contacto</p>
            <ul class="ListStyle-none d-inline-flex flex-column align-items-start FooterList">
                <li><p class="Montserrat-SemiBold">Oficina central <small class="Montserrat-Regular">+502 3511-5034</small></p></li>
                <li><p class="Montserrat-SemiBold">Sucursal #1 <small class="Montserrat-Regular">+502 5563-8774</small></p></li>
                <li><p class="Montserrat-SemiBold">Sucursal #2 <small class="Montserrat-Regular">+502 4183-9918</small></p></li>
            </ul>
        </div>
        <div class="d-inline-flex flex-column align-items-start col">
            <p class="Montserrat-Bold FooterTitle">Email de contacto</p>
            <ul class="ListStyle-none d-inline-flex flex-column align-items-start FooterList">
                <li><p class="Montserrat-SemiBold">Oficina central <a href="mailto:info@XelaByte.com" class="Montserrat-Regular">info@XelaByte.com</a></p></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="container d-inline-flex flex-column align-items-center">
        <p class="Montserrat-Bold FooterCreditsText">© 2021 IFrame Tech</p>
    </div>
</footer>
<!--------------------------------------------------------------------------->