//$Principal_C: linear-gradient(347deg, rgba(46,178,43,1) 17%, rgba(104,200,101,1) 100%);
$Principal_C: linear-gradient(354deg, rgba(231,231,231,1) 4%, rgba(255,255,255,1) 97%);
$FontColor: #6c757d;
$SemiBlack: #1a1a1a;
$CardBackground: linear-gradient(346deg, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
$NavShadow: 0px 5px 25px 2px rgba(0,0,0,0.075);
$CardsShadow: 0px 0px 38px -2px rgba(0,0,0,0.1);
$BlackBGShadow: 0px 0px 16px 2px rgba(0,0,0,0.28);

