/*DEGRADADOS*/
//$Principal_C: linear-gradient(347deg, rgba(46,178,43,1) 17%, rgba(104,200,101,1) 100%);
$Principal_C: linear-gradient(354deg, #eeeeee 0%, #ffffff 100%);
$CardBackground: linear-gradient(346deg, #f0f0f0 0%, #ffffff 100%);
$CardBlackBackground: linear-gradient(333deg, rgba(59,59,59,1) 0%, rgba(29,29,29,1) 100%);
$ButtonsBlackGradient: linear-gradient(350deg, #4e4e4e 0%, #3f3f3f 14%, #2a2a2a 46%, #000000 100%);

/*COLORES*/
$FontColor: #7c7c7c;
$FormGray: #F2F2F2;
$FormBorder: #E4E4E4;
$Gray: #e2e2e2;
$DarkGray: #d4d4d4;
$DarkGray_1: #727272;
$DarkGray_2: #444444;
$SemiBlack: #1a1a1a;
$LightBlack: #2c2c2c;
$BodyBlack: #292929;
$HoverButtonBG: #181818;
$HoverLightBlack: #383838;

/*SOMBRAS E ILUMINACIONES*/
$NavShadow: 0px 5px 25px 2px rgba(0,0,0,0.075);
$CardsShadow: 0px 0px 38px -2px rgba(0,0,0,0.2);
$BlackBGShadow: 0px 0px 16px 2px rgba(0,0,0,0.35);
$CardsLight: 2px 0px 30px 4px rgba(255,255,255,0.12);
$InputsShadow: 0px 0px 5px 0px rgba(0,0,0,0.15);