@import "app/app.component.scss";
@import "assets/Sass/FontsImports";

body
{
    font-size: 16px;
    z-index: 0;
}

@media only screen and (max-width: 450px)
{
    html
    {
        font-size: 10px !important;
    }

    ::-webkit-input-placeholder { font-size: 0.75rem; }
    ::-moz-input-placeholder { font-size: 0.75rem; }
    ::-ms-input-placeholder { font-size: 0.75rem; }
    ::-o-input-placeholder { font-size: 0.75rem; }
}

::-webkit-scrollbar { width: 16px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb 
{ 
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 999px;
    background-color: #3f3f3f;
}
::-webkit-scrollbar-thumb:hover { background-color: #5c5c5c;  }
