<nav class="navbar navbar-nav navbar-expand-lg mb-5">
    <div class="container-fluid justify-content-center px-5">
        <a class="navbar-brand" type="button" data-bs-toggle="collapse" data-bs-target="#NavbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="../../assets/Img/Banner XelaByte.png">
        </a>
        <div id="NavbarContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ListStyle-none">
                <li class="nav-item d-flex">
                    <a name="ContactFormButton" role="button" class="Montserrat-SemiBold"><i class="bi bi-people-fill"></i>Contáctanos</a>
                </li>
                <li class="nav-item d-flex">
                    <a href="#ApplyForEmployment" class="Montserrat-SemiBold"><i class="bi bi-briefcase-fill"></i>Aplicar ahora</a>
                </li>
                <li class="nav-item d-flex">
                    <a href="#Services" class="Montserrat-SemiBold"><i class="bi bi-tools"></i>Servicios</a>
                </li>
                <li class="nav-item d-flex">
                    <a href="#MakeAppointment" class="Montserrat-SemiBold"><i class="bi bi-journal-bookmark-fill"></i>Agendar cita</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
