<div id="Dashboard" class="Dashboard">
    <ng-container #NavbarsContainer></ng-container>
    <Sidebar></Sidebar>
    <div class="content">

        <nav class="navbar navbar-nav navbar-expand-lg pb-3">
            <div class="container-fluid justify-content-center px-5">
                <p class="Montserrat-Bold py-2 my-0">{{this.ActualPage.Title}}<i class="bi bi-{{this.ActualPage.IconClass}}"></i></p>
            </div>
        </nav>

        <div class="body">
            <ng-container #ChildLoadingContainer></ng-container>
            <router-outlet></router-outlet>
            <div class="fade-out"></div>
        </div>

    </div>
</div>

